@namespace BlazorTabs
@inherits TabItemBase

@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

<CascadingValue Value=this>

    <li>
        <a class="nav-link position-relative ellipsis @TitleCssClass" @onclick="() => ActivateTab()" href="javascript:void(0);" role="button" style="height: 48px; width: 100%;">
            @TabTitle
        </a>
    </li>

</CascadingValue>

@code {

}
