@inherits ComponentBase

@using Mihcelle.Hwavmvid.Modal
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Mihcelle.Hwavmvid.Client.Pages

@inject Modalservice modalservice

<AuthorizeView>
    <Authorized>

        @if (this.contextcomponenttype != null)
        {
            <Adminbase _adminmodalelementid="@adminmodalelementid" _componenttype="@contextcomponenttype"></Adminbase>
        }

        <div>

            <div class="d-flex flex-wrap bg-white mt-4">

                <div class="position-relative p-1" style="width: 150px; height: 150px;">
                    <button @onclick="async() => await Opencontextmodule(typeof(Sitesettings))" @onclick:stopPropagation=true type="button" class="btn btn-light w-100 h-100 px-2 py-4 bg-light text-dark text text-centerborder border-dark rounded-0">
                        <span class="display-4">f</span><br />
                        <small class="py-2 w-100" style="font-size: 0.8rem; position:absolute; left:0px; bottom:10px;">Site settings</small>
                    </button>
                </div>

                <div class="position-relative p-1" style="width: 150px; height: 150px;">
                    <button @onclick="async() => await Opencontextmodule(typeof(Databasesettings))" @onclick:stopPropagation=true type="button" class="btn btn-light w-100 h-100 px-2 py-4 bg-light text-dark text-center display-4 border border-dark rounded-0">
                        <span class="display-4">o</span><br />
                        <small class="py-2 w-100" style="font-size: 0.8rem; position:absolute; left:0px; bottom:10px;">Database settings</small>
                    </button>
                </div>

                <div class="position-relative p-1" style="width: 150px; height: 150px;">
                    <button @onclick="async() => await Opencontextmodule(typeof(Pagesettings))" @onclick:stopPropagation=true type="button" class="btn btn-light w-100 h-100 px-2 py-4 bg-light text-dark text-center display-4 border border-dark rounded-0">
                        <span class="display-4">o</span><br />
                        <small class="py-2 w-100" style="font-size: 0.8rem; position:absolute; left:0px; bottom:10px;">Page settings</small>
                    </button>
                </div>

                <div class="position-relative p-1" style="width: 150px; height: 150px;">
                    <button disabled type="button" class="btn btn-light w-100 h-100 px-2 py-4 bg-light text-dark text-center display-4 border border-dark rounded-0">
                        <span class="display-4">t</span><br />
                        <small class="py-2 w-100" style="font-size: 0.8rem; position:absolute; left:0px; bottom:10px;">Module settings</small>
                    </button>
                </div>

                <div class="position-relative p-1" style="width: 150px; height: 150px;">
                    <button disabled type="button" class="btn btn-light w-100 h-100 px-2 py-4 bg-light text-dark text-center display-4 border border-dark rounded-0">
                        <span class="display-4">b</span><br />
                        <small class="py-2 w-100" style="font-size: 0.8rem; position:absolute; left:0px; bottom:10px;">User settings</small>
                    </button>
                </div>

                <div class="position-relative p-1" style="width: 150px; height: 150px;">
                    <button disabled type="button" class="btn btn-light w-100 h-100 x-2 py-4 bg-light text-dark text-center display-4 border border-dark rounded-0">
                        <span class="display-4">a</span><br />
                        <small class="p-2 w-100" style="font-size: 0.8rem; position:absolute; left:0px; bottom:10px;">Task manager</small>
                    </button>
                </div>

                <div class="position-relative p-1" style="width: 150px; height: 150px;">
                    <button disabled type="button" class="btn btn-light w-100 h-100 x-2 py-4 bg-light text-dark text-center display-4 border border-dark rounded-0">
                        <span class="display-4">l</span><br />
                        <small class="p-2 w-100" style="font-size: 0.8rem; position:absolute; left:0px; bottom:10px;">System settings</small>
                    </button>
                </div>

                <div class="position-relative p-1" style="width: 150px; height: 150px;">
                    <button disabled type="button" class="btn btn-light w-100 h-100 px-2 py-4 bg-light text-dark text-center display-4 border border-dark rounded-0">
                        <span class="display-4">l</span><br />
                        <small class="p-2 w-100" style="font-size: 0.8rem; position:absolute; left:0px; bottom:10px;">Recycle bin</small>
                    </button>
                </div>

            </div>

        </div>

    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>


@code {


    public string adminmodalelementid { get; set; } = "admin_modal_element_id";
    public Type? contextcomponenttype { get; set; } = typeof(Sitesettings);

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await this.modalservice.Initmodal();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    public async Task Opencontextmodule(Type componenttype)
    {
        
        this.contextcomponenttype = componenttype;
        await this.modalservice.ShowModal(this.adminmodalelementid);

        await InvokeAsync(() =>
        {
            this.StateHasChanged();
        });
    }
}
