@inherits ComponentBase
@using Mihcelle.Hwavmvid.Client.Pages

<AuthorizeView>
    <Authorized>

        <div class="container">
            <div class="row align-items-center my-2">

                <div class="col-lg-4">
                    <div class="text-center">
                        <strong>Database settings</strong>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="p-1 bg-light">


                    </div>
                </div>

            </div>
        </div>

    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>


@code {


}
