@inherits Mainlayoutbase

<AuthorizeView>
    <Authorized>

        <div>

            <div class="d-flex flex-wrap bg-white mt-4">

                <h4>Site settings module</h4>

            </div>

        </div>

    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>


@code {


}
