@inherits Containerbase
@using Mihcelle.Hwavmvid.Modules

@if (this._contextcontainer != null && this._contextcontainer.Columns != null)
{

    <div class="@this._contextcontainer.Containertype">

        <div class="row align-items-center text-center">

            @foreach (var column in this._contextcontainer.Columns)
            {
                
                <div class="@column.Columnwidth" style="min-height: 100px; border: 2px dotted black">

                    <small class="bg-dark text-light">@column.Id</small>

                    <DynamicComponent Type="@typeof(Htmleditor)"></DynamicComponent>

                </div>

            }

        </div>

    </div>

}


@code {


}
