@namespace Mihcelle.Hwavmvid.Client.Authentication
@inherits Authenticationbase

@inject NavigationManager navigationmanager
@inject IHttpClientFactory ihttpclientfactory

<div class="login">

    <div class="input-group mb-3">
      <span class="input-group-text" id="login-username">@@</span>
      <input type="text" @bind-value="Applicationuser.UserName" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="login-username">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="login-password">@@</span>
        <input type="text" @bind-value="this.Applicationuser.PasswordHash" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="login-password">
    </div>

    <button type="button" @onclick="async () => await this.Loginuser()" class="btn btn-sm btn-primary">Send data</button>

</div>

@code {

    protected Applicationuser Applicationuser { get; set; } = new Applicationuser();

    protected override Task OnInitializedAsync()
    {
        this.Applicationuser.EmailConfirmed = true;
        this.Applicationuser.TwoFactorEnabled = false;
        this.Applicationuser.LockoutEnabled = true;

        return base.OnInitializedAsync();
    }

    protected async Task Loginuser()
    {
        try
        {
            var client = this.ihttpclientfactory.CreateClient("Mihcelle.Hwavmvid.ServerApi.Unauthenticated");
            await client.GetAsync("login/" + this.Applicationuser.UserName + "/" + this.Applicationuser.PasswordHash);
            this.navigationmanager.NavigateTo(navigationmanager.Uri, true);
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception.Message);
        }
    }
}
