@namespace Mihcelle.Hwavmvid.Modules

<AuthorizeView Roles="Host">
    <Authorized>

        <div>
            <textarea @bind="htmltext" rows="5" cols="41">

            </textarea>
        </div>        

    </Authorized>
    <NotAuthorized>        

    </NotAuthorized>
</AuthorizeView>

<div>@((MarkupString)htmltext)</div>

@code {


    protected string htmltext { get; set; } = "<h1 class=\"display-4 lead bg-dark text-light\">Almost complete html editor</h1>";

}
