@namespace Mihcelle.Hwavmvid.Modal
@inherits ModalBase
@using Microsoft.AspNetCore.Components;

<style type="text/css">

    #@ElementId {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1400;
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: block;
    }

    .modal-centered-content {
        position: absolute;
        z-index: 1401;
        background-color: white;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        border: 1px solid rgba(49,94,182,1);
        overflow: auto;
    }

    @@media (max-width: 575px) {

        .modal-centered-content {
            width: 320px !important;
            height: 420px !important;
        }
    }

    @@media (min-width: 576px) {

        .modal-centered-content {
            width: 500px !important;
            height: 420px !important;
        }
    }

    @@media (min-width: 1400px) {

        .modal-centered-content {
            width: 1200px !important;
            height: 720px !important;
        }
    }

</style>

<div id="@ElementId" style="display: none;">
    <div class="modal-centered-content">
        <div>
            <div>
                @Modalheader
            </div>
            <div>
                @Modalbody
            </div>
            <div>
                @Modalfooter
            </div>
        </div>
    </div>
</div>

@code {

}
