@page "/admin"
@inherits Mainlayoutbase


<div class="container position-relative">

    <Mihcelle.Hwavmvid.Client.Modules.Admin.Dashboard></Mihcelle.Hwavmvid.Client.Modules.Admin.Dashboard>

</div>

@code {

}
