@page "/{_contextpageurlpath?}"
@inherits Indexbase


@if (this._contextpage != null)
{
    <div class="py-3">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">

                <h1 class="display-4 py-1" style="font-weight: 400 !important;">Webpage @this._contextpage.Name</h1>
                <p class="lead">

                    <span class="bg-warning">connectionid:</span> @this.applicationprovider._connection?.ConnectionId
                    <button type="button" @onclick="() => StateHasChanged()">statehaschanged()</button>

                    <AuthorizeView>
                        <Authorized>
                            <div><small>signedin user: @_contextauth?.User?.Identity?.Name</small></div>
                        </Authorized>
                        <NotAuthorized>
                            not authorized..
                        </NotAuthorized>
                    </AuthorizeView>

                </p>

                <Mihcelle.Hwavmvid.Client.Container.Container></Mihcelle.Hwavmvid.Client.Container.Container>

            </div>
        </div>

    </div>
}

@if (this._contextpage == null)
{
    <div class="py-3">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">

                <h1 class="display-4 py-1" style="font-weight: 400 !important;">Webpage not found 404</h1>

            </div>
        </div>

    </div>
}

@code {

}
