@page "/"

@inherits ComponentBase

@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Http

@inject NavigationManager navigationmanager
@inject Applicationprovider applicationprovider


<h1>hello index page</h1>

<button type="button" @onclick="() => StateHasChanged()">statehaschanged()</button>

<AuthorizeView>
    <Authorized>
        authorized..
    </Authorized>
    <NotAuthorized>
        not authorized..
    </NotAuthorized>
</AuthorizeView>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            //await applicationprovider.Establishapplicationconnection();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}