@page "/"
@inherits MainLayoutBase

<div class="py-3">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">

            <h1 class="display-4">asp .net core application framework</h1>
            <p class="lead">

                connectionid: @applicationprovider._connection?.ConnectionId
                <button type="button" @onclick="() => StateHasChanged()">statehaschanged()</button>

                <AuthorizeView>
                    <Authorized>
                        <div><small>signedin user: @_context?.User?.Identity?.Name</small></div>
                    </Authorized>
                    <NotAuthorized>
                        not authorized..
                    </NotAuthorized>
                </AuthorizeView>

            </p>
        </div>
    </div>

</div>

@code {


}