@page "/"

@inherits MainLayoutBase

@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Http
@using Mihcelle.Hwavmvid.Client.Authentication

<div class="py-3">

    <h1>hello index page</h1>
    <div><small>connectionid: @applicationprovider._connection?.ConnectionId</small></div>
    <button type="button" @onclick="() => StateHasChanged()">statehaschanged()</button>

    <AuthorizeView>
        <Authorized>
            <div><small>signedin user: @_context?.User?.Identity?.Name</small></div>
        </Authorized>
        <NotAuthorized>
            not authorized..
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {


}