@namespace Mihcelle.Hwavmvid.Client.Authentication
@inherits Authenticationbase

@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@using Mihcelle.Hwavmvid.Shared.Models

@inject IHttpClientFactory httpclientfactory
@inject NavigationManager navigationmanager

<div class="logout">

    <button type="button" @onclick="async () => await this.Logoutuser()" class="btn btn-sm btn-primary">Send data</button>

</div>

@code {

    protected async Task Logoutuser()
    {
        try
        {
            var client = this.httpclientfactory.CreateClient("Mihcelle.Hwavmvid.ServerAPI.Unauthenticated");
            await client.GetAsync("logout");
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception.Message);
        }
    }
}
